html{
    background: #000000;
    margin: auto;
    height: 100%
}
head{
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
    color: white;
    text-align: left;
    position: relative;
    margin: 0 auto
}
body{
    background: #2d2d2d;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    height: 100%;
    padding: 2em 2em 4em;
}
h1{
    font-family: sans-serif;
    color: white;
    text-align: center;
    align-content: center
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    margin: auto
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background: #000000
}

.navBar{
    margin: 0 auto;
}
.mainBody{
    margin: 5px;
    padding: 5px
}